
<div class="app-container">
    <app-navbar></app-navbar>
    <mat-sidenav-container>
        <mat-sidenav #sidenav  mode="side" [(opened)]="opened">
            <mat-nav-list>
                <mat-list-item  *ngFor="let item of menuItems" [routerLink]="[item.path]" >
                    <div class="navbar-menu-item">
                        <mat-icon>{{item.icon}}</mat-icon>
                        &nbsp;
                        <span>{{item.title}}</span>
                    </div>
                    <mat-divider></mat-divider>
                </mat-list-item>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content class="main-content">
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>






