<h1 mat-dialog-title>{{data.viewValueMant}}</h1>

<div mat-dialog-content>
  <app-tiendas *ngIf="data.valueMant === 'tienda-0'"></app-tiendas>
  <app-sucursales *ngIf="data.valueMant === 'sucursal-1'"></app-sucursales>
  <app-tipo-ruta *ngIf="data.valueMant === 'tipoRuta-2'"></app-tipo-ruta>
  <app-vehiculo *ngIf="data.valueMant === 'vehiculo-3'"></app-vehiculo>
  <app-tipo-transporte *ngIf="data.valueMant === 'tipoTransporte-4'"></app-tipo-transporte>
  <app-transportista *ngIf="data.valueMant === 'transportista-5'"></app-transportista>
  <app-tipo-tim *ngIf="data.valueMant === 'tim-6'"></app-tipo-tim>
</div>

<div mat-dialog-actions>
  <button class="close-button" mat-raised-button color="warn" (click)="onNoClick()">Cerrar</button>
</div>
