<div class="wrapper">
    <div *ngIf="!loading" class="body">
        <mat-card class="login-card">
            <mat-card-header>
                <mat-card-title>
                    <img class="logo" src="../../../assets/img/openbuy.png" alt="img login">
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Usuario</mat-label>
                    <input matInput type="text" [(ngModel)]="username" autocomplete="false" placeholder="Ingrese usuario">
                </mat-form-field>

                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" [(ngModel)]="password" (keyup.enter)="onEnterKey()" autocomplete="false" placeholder="Ingrese password">
                </mat-form-field>

                <div class="d-grid gap-2">
                    <button mat-raised-button color="primary" type="button" class="full-width" (click)="login()">Aceptar</button>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <app-spinner *ngIf="loading"></app-spinner>
</div>
