<div class="grid-col-1">
  <div class="grid-item">
      <h1 style="padding-left: 10px; margin: 0 !important">Listado Rutas</h1>
      <mat-card>
          <mat-card-content>
            <div class="button-container">
              <div class="dense-3">
                <mat-form-field appearance="outline">
                  <mat-label>Busqueda rápida</mat-label>
                  <input matInput placeholder="" #filterInput (keyup)="setFilter(filterInput.value)">
                </mat-form-field>
              </div>
              <!-- <button mat-raised-button color="warn" (click)="onSubmit()">Eliminar</button> -->
              <!-- <button mat-raised-button color="warn" >Eliminar</button> -->
              <button mat-raised-button color="warn" (click)="onAddRuta()">Agregar Ruta</button>

            </div>
              <hr>
              <!--[rowData]="rowData$ | async""  es para indicar que es un observable-->
                  <ag-grid-angular
                      style="width: 100%; height: calc(790px)"
                      class="ag-theme-alpine"
                      [columnDefs]="columnDefs"
                      [defaultColDef]="defaultColDef"
                      [rowData]="rowData$"
                      [animateRows]="true"
                      (gridReady)="onGridReady($event)"
                      [gridOptions]="gridOptions"
                  ></ag-grid-angular>
                  
          </mat-card-content>
      </mat-card>
  </div>

</div>


