
<div class="modal">
    
    <div class="modal-header">
        <h3>Agregar Guía</h3>
    </div>

    <mat-card class="top-card inputGuia" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
        <div class="centered-content">
            <mat-form-field appearance="fill" fxFlex="45">
                <mat-label>Guia - Boleta - LPN</mat-label>
                <input id="inputGuia" (keyup.enter)="onBuscarGuia()" matInput placeholder="..." [(ngModel)]="guiaInputValue">
            </mat-form-field>
        </div>
    </mat-card>

    <div class="modal-body" fxLayout="row" fxLayoutGap="20px">
        <mat-card class="left-content">
            <mat-list>
                <mat-list-item>
                    <span class="mat-subheading-1">Sucursal:</span>
                    <span>{{ sucursal[0].nombre_sucursal }}</span>
                </mat-list-item>
                <mat-list-item>
                    <span class="mat-subheading-1">Chofer:</span>
                    <span>{{ chofer[0].nombres + ' ' + chofer[0].apellidos }}</span>
                </mat-list-item>
                <mat-list-item>
                    <span class="mat-subheading-1">Ayudante:</span>
                    <span>{{ ayudante[0].nombres + ' ' + ayudante[0].apellidos }}</span>
                </mat-list-item>
                <mat-list-item>
                    <span class="mat-subheading-1">Patente:</span>
                    <span>{{ patente[0].patente }}</span>
                </mat-list-item>
                <mat-list-item>
                    <span class="mat-subheading-1">Ruta:</span>
                    <span>{{ nombreRuta[0].nombre_ruta }}</span>
                </mat-list-item>
                <mat-list-item>
                    <span class="mat-subheading-1">TIM:</span>
                    <span>{{ tim[0].nombreTim }}</span>
                </mat-list-item>
            </mat-list>
        </mat-card>

        <mat-card class="right-content">
            <!-- Tabla ficticia -->
            <mat-card-content class="container">
                <div class="button-container">
                  <div class="dense-1">
                    <mat-form-field appearance="outline">
                      <mat-label>Busqueda rápida</mat-label>
                      <input matInput placeholder="" #filterInput (keyup)="setFilter(filterInput.value)">
                    </mat-form-field>
                  </div>
        
                  <button mat-raised-button color="primary" (click)="onExportClick()">Excel</button>
        
                </div>
                <hr>
                <!--[rowData]="rowData$ | async""  es para indicar que es un observable-->
                <!-- [rowSelection]="'multiple'" -->
                <ag-grid-angular 
                  style="width: 100%; height: calc(217px)" 
                  class="ag-theme-alpine" 
                  [columnDefs]="columnDefs"
                  [defaultColDef]="defaultColDef" 
                  [rowData]="rowData$" 
                  [copyHeadersToClipboard]="true" 
                  [animateRows]="true"
                  [enableCellTextSelection]="true"
                  [suppressCopyRowsToClipboard]="false"
                  (gridReady)="onGridReady($event)"
                  >
                </ag-grid-angular>
              </mat-card-content>
        </mat-card>
    </div>
    <div class="modal-footer">
        <button mat-raised-button color="warn" (click)="onNoClick()">Cerrar</button>
    </div>
</div>