.modalO {
  width: 650px; // Ajusta el ancho para que sea un poco más pequeño en dispositivos más estrechos
  height: 535px; // Permite que el modal se ajuste en función del contenido
}

.modal-body {
  display: flex;
  flex-direction: row; // Cambia la dirección principal a fila
  justify-content: center; // Centra horizontalmente
  align-items: center; // Centra verticalmente
}

.input-section {
  display: flex;
  flex-direction: column; // Cambia la dirección principal a fila
  justify-content: center; // Centra horizontalmente
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  gap: 15px;
  padding: 15px;
}

.shop-buttons {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 15px;
}

.transport-info,
.table-section {
  flex: 1; // Ambos ocupan la misma proporción del espacio
  overflow-y: auto;
}


.modal-footer{
  margin-right: 15px;
}

@media (max-width: 768px) {
  .modalO {
    width: 100%; // Ajusta el ancho para que sea un poco más pequeño en dispositivos más estrechos
    height: 535px; // Permite que el modal se ajuste en función del contenido
  }

  .modal-body {
    display: flex;
    flex-direction: column; // Cambia la dirección principal a fila
    justify-content: center; // Centra horizontalmente
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    gap: 15px;
    padding: 15px;
  }

}