<div class="grid-col-1">
    <div class="grid-item">
        <h1 style="padding-left: 10px; margin: 0 !important">Listado Guías x Tiendas</h1>
        <mat-card>
            <mat-card-content>
              <div class="button-container">
                <div class="dense-3">
                  <mat-form-field appearance="outline">
                    <mat-label>Busqueda rápida</mat-label>
                    <!-- <input matInput placeholder="" #filterInput (keyup)="setFilter(filterInput.value)"> -->
                    <input matInput placeholder="" #filterInput>
                  </mat-form-field>
                </div>
                <!-- <button mat-raised-button color="warn" (click)="onSubmit()">Eliminar</button> -->
                <button mat-raised-button color="warn" >Eliminar</button>

              </div>
                <hr>
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">id</th>
                      <th scope="col">asd</th>
                      <th scope="col">asd</th>
                      <th scope="col">asd</th>
                      <th scope="col">asd</th>
                      <th scope="col">asd</th>
                      <th scope="col">asd</th>
                      <th scope="col">asd</th>
                      <th scope="col">asd</th>
                      <th scope="col">asd</th>
                      <th scope="col">asd</th>
                      <th scope="col">asd</th>
                      <th scope="col">asd</th>
                      <th scope="col">asd</th>
                      <th scope="col">asd</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of listGuias">
                      <td>{{ item.id }}</td>
                      <td>{{ item.fecha_carga }} </td>
                      <td>{{ item.tienda }} </td>
                      <td>{{ item.boleta }} </td>
                      <td>{{ item.sku }} </td>
                      <td>{{ item.producto }} </td>
                      <td>{{ item.cantidad }} </td>
                      <td>{{ item.bulto }} </td>
                      <td>{{ item.rut_cliente }} </td>
                      <td>{{ item.fono_cliente }} </td>
                      <td>{{ item.email_cliente }} </td>
                      <td>{{ item.direccion_cliente }} </td>
                      <td>{{ item.comuna_cliente }} </td>
                      <td>{{ item.fecha_compromiso }} </td>
                      <td>{{ item.lpn }} </td>
                    </tr>
                   
                  </tbody>
                </table>
                  
                <!--[rowData]="rowData$ | async""  es para indicar que es un observable-->
                    <!-- <ag-grid-angular
                        style="width: 100%; height: calc(300px)"
                        class="ag-theme-alpine"
                        [columnDefs]="columnDefs"
                        [defaultColDef]="defaultColDef"
                        [rowData]="rowData$"
                        [rowSelection]="'multiple'"
                        [animateRows]="true"
                        (gridReady)="onGridReady($event)"
                        (cellClicked)="onCellClicked($event)"
                    ></ag-grid-angular> -->
            </mat-card-content>
        </mat-card>
    </div>

</div>


